<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_PedidoSimples" />
                <binding name="BasicHttpBinding_PedidoComposto" />
                <binding name="BasicHttpBinding_Produtos" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52679/Pedido.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_PedidoSimples" contract="ReferenciaDePedido.PedidoSimples"
                name="BasicHttpBinding_PedidoSimples" />
            <endpoint address="http://localhost:52679/Pedido.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_PedidoComposto" contract="ReferenciaDePedido.PedidoComposto"
                name="BasicHttpBinding_PedidoComposto" />
            <endpoint address="http://localhost:50115/Produto.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Produtos" contract="ReferenciaDeProduto.Produtos"
                name="BasicHttpBinding_Produtos" />
        </client>
    </system.serviceModel>
</configuration>